
/* live preview */
span.cm-hashtag.cm-tag-android {
  color: hsl(calc(138 - 3), calc(88% * 1.02), calc(66% * 1.15));
  background-color: hsla(138, 88%, 66%, 0.1);
}

span.cm-hashtag.cm-tag-linux {
  color: hsl(calc(60 - 3), calc(88% * 1.02), calc(66% * 1.15));
  background-color: hsla(60, 88%, 66%, 0.1);
}

span.cm-hashtag.cm-tag-windows {
  color: hsl(calc(250 - 3), calc(88% * 1.02), calc(66% * 1.15));
  background-color: hsla(250, 88%, 66%, 0.1);
}



